@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #18181B;
}

h1, h2, p, th, td {
    color: aliceblue;
    font-family: 'Arvo', serif;
}

.my-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.footer p {
    color: #A1A1AA;
}